@using System.Collections
@using System.Collections.Generic
@using System.Web.UI
@using MyUCommerceApp.Website.Models
@model MyUCommerceApp.Website.Models.CategoryViewModel
@{
    Layout = "Layout.cshtml";

}

<h1>@Model.Name</h1>

<span>@Html.Raw(Model.Description)</span>

@foreach (ProductViewModel product in Model.Products)
{
    <div>
        <span>@product.Name</span>
		@if (product.Price != null && product.Price.IsDiscounted)
		{
			<span style="text-decoration: line-through;">@product.Price.ListPrice</span>
		}

		@if (product.Price != null)
		{
			<span>@product.Price.YourPrice</span>
		}
        <a href="@product.Url">More info</a>
    </div>
}


